.section {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
}

.imgModal {
  width: 500px;
  height: 500px;
}

@media (min-width: 768px) {
  .section {
    align-items: center;
  }

}

@media (min-width: 1900px) {
  .section {
    align-items: flex-end;
  }
}